@model ProfileViewModel
@{
    ViewData["Title"] = "Profile";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-3">Username:</dt>
            <dd class="col-sm-9">@Model.UserName</dd>

            <dt class="col-sm-3">Email:</dt>
            <dd class="col-sm-9">@Model.Email</dd>

            <dt class="col-sm-3">Full Name:</dt>
            <dd class="col-sm-9">@Model.FullName</dd>

            <dt class="col-sm-3">Date of Birth:</dt>
            <dd class="col-sm-9">@Model.DateOfBirth.ToShortDateString()</dd>

            <dt class="col-sm-3">Profile Picture:</dt>
            <dd class="col-sm-9">
                <img src="@Model.ProfilePictureUrl" alt="Profile Picture" class="img-thumbnail" />
            </dd>
        </dl>
    </div>
    
    @* Change password button *@
    <a href="@Url.Action("ChangePassword", "Account")" class="btn btn-primary">Change Password</a>
    <a href="@Url.Action("ChangeMail", "Account")" class="btn btn-secondary">Change Mail</a>
</div>
